@media (width>= 400px){
	html body{
		background-color: 234; /*Define una media query que cambie el fondo del body a #234 
	cuando la pantalla tenga más de 400px de ancho.*/
	}
}

@media (max-width: 800px){/*Define una media query que centre el título h1 cuando la pantalla tenga menos de 800px de ancho.*/
	h1{
		text-align: center;
	}
}

@media (orientation: landscape){/*Define una media query para que el ancho máximo (max-width) del article sea 50char cuando el 
	dispositivo tiene una pantalla orientada en horizontal (más espacio de ancho que de alto).*/
	article{
		max-width: 50ch;
	}
}

@media (max-height: 200px){/*Define una media query para que cambie el color de fondo del título principal h1 cuando el alto de la
 pantalla sea como mínimo 200px.*/
	h1{
		background-color: red; 
	}
}

@media print{/*Define una media query para cambiar el estilo del texto de todos los párrafos para que muestren una fuente 
font-family: sans-serif; cuando la página se imprime.*/
	p{
		font-family: sans-serif;
	}
}

@media (prefers-color-scheme: light){/*Si el usuario prefiere un estilo de colores claros, mostrar los elementos body y h1 con el 
texto en color #111 y el fondo en color #DDD.*/
	body h1{
		color: #111;
		background: #DDD;
	}
}

@media (not(hover)){/*Si el dispositivo del usuario es una pantalla y además no soporta la acción hover, mostrar los links con color
 de fondo #212 y con un padding vertical de 2px y horizontal de 5px.*/
	a{
		background: #212;
		padding-top: 2px;
		padding-left: 5px; 
	}
}

@media screen and (min-width:  800px) and (max-height: 900px){ /*Si el dispositivo es una pantalla, y tiene 800px o más de ancho, 
	pero menos de 900px, la imagen no se tiene que mostrar.*/
	img{
		visibility: hidden;
	}
}

@media screen and (200px<= width: <= 400px){/*Si el dispositivo es una pantalla, y tiene entre 200px y 400px de ancho, mostrar la 
	imagen con un alto de 400px, y con el siguiente estilo: object-fit: cover;.*/
	body img{
		height: 400px;
		object-fit: cover;
	}
}

@media (resolution > 2dppx){
	article{
		background-color: #667; 
	}
}
