html{
	background: #222;
	background-color: #222;
	color: #ee6;
}

h1{
	text-align: center; 
}

p{
	font-family: sans-serif;
}

h1, h2, h3{
	color: #eee;
	text-transform: uppercase;
}

strong{
	border-bottom: 1px solid #fff;

}

.the-force{
	background-color: #444;
	font-weight: bold; 
}

.light-side{
	color: #66f;
}

.dark-side{
	color: #f33;
}

#og-trilogy{
	list-style-type: circle;
}

ul:nth-of-type(2){
	padding-left: 90px;
}

ul:nth-of-type(3) li:last-of-type{
	margin-top: 1opx;
}

p:first-of-type::first-line{
	color: #efe;
}

h1:hover {
	color: violet;/*Hacer que el título principal cambie de color cuando se pasa el puntero por encima.*/
}

a:visited {/*Hacer que los links visitados cambien a color gris.*/
	color: #999;
}

a:not([href]){
	font-style: italic;/*Mostrar los links sin atributo href en cursiva*/
}

li:nth-of-type(2) {
	background-color: #111;
}

li:nth-of-type, li:nth-of-type(3){/*Mostrar de manera alternada el color de fondo de cada uno de los 
elementos de los listados de películas entre #111 y 333.*/
	background-color:  #333;
}




ul.movies-list:nth-of-type(1){ /* PUNTO 9 para separar los puntitos hacia la derecha*/
	padding-left: 90px;
}


ul:nth-of-type(3) li:last-of-type{ /* para separar un renglon*/
	margin-top: 20px;
}

/*h1, h2, h3{
	text-transform: uppercase;
}*/

p:first-of-type::first-line{
	color: #efe;

}







li:nth-of-type(1){/*Mostrar de manera alternada el color de fondo de cada uno de los 
elementos de los listados de películas entre #111 y 333.*/
	background-color:  #333;
}







